@{
    ViewData["Title"] = "About Us";
}

<p vocab="http://schema.org/" typeof="Person">
    <div >
        <div >
        <div class="align-left mihaela">
            <h3 class="cool-title"><span>NAME</span><br>Focsa D. Mihaela  </h3>
            
            
            
            <h3 class="cool-title"><span>Phone</span><br>0752345345</h3>
           
            <h3 class="cool-title"><span>Website</span><br><a property="url" href="www.mead.bevo.ro">www.mead.bevo.ro</a></h3>
            
        </div>

        <img property="image" src="~/images/mihaela.jpg" style="width:23%" />
        </div>

        <div style="clear:both;margin-bottom:30px"></div>

        <div>
        <img property="image" src="~/images/radu.jpg" style="width:20%" class="radu" />
        <div class="align-right radu">
            
            <h3 class="cool-title">
                <span>NAME</span><br>Pastravanu C. Radu Gabriel</h3>
                
                
            <h3 class="cool-title">
                <span>Phone</span><br>0762253345</h3><br />
            <h3 class="cool-title"><span>Website</span><br><a property="url" href="www.mead.bevo.ro">www.mead.bevo.ro</a></h3>
</div></div>
    </div>
    <div style="clear:both"></div>
</p>