
<form method="GET" accept-charset="utf-8">
    <label class="search-form_label">
        <input id="search-form" class="search-form_input" type="text" name="s" autocomplete="off" placeholder="Search..." />
        <span class="search-form_liveout"></span>
    </label>
    @*<select id="search-by" name="search">
        <option value="0" selected="">Search by Disease</option>
        <option value="1">Search by Country</option>
    </select>*@
  
</form>

<ul class="results-search" style="display:none;">
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
</ul>
<span id="no-result" style="display:none;">No results found</span>