
<div id="intro-text">
    <h1 class="title"> THE BEST <br><span>MEDICAL WEBSITE!</span></h1>
<h3 class="sub-title">WE CARE FOR YOUR HEALTH</h3>
    </div>

<form method="GET" accept-charset="utf-8" id="midSearchForm">
    <div class="input-group input-group-lg">

        
        <input id="search-form" class="form-control search-form_input" type="text" name="s" autocomplete="off" placeholder="Search..." />
        <span id="no-result" class="alert alert-danger" style="display:none;"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> No results found</span>
        <span class="search-form_liveout"></span>
        <label class="search-form_label">
            
           
        </label>
    </div>
    
    
  
</form>

<ul class="results-search" style="display:none;">
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
</ul>

<script>
    function getMostCommonDiseases(max) {
        $.ajax({
            type: "POST",
            url: '/getMostCommonDiseases',
            data: {
                max: max,
        },
            success: function (data) {
                console.log(data);
                var text = "";
                var jsData = JSON.parse(data);
                console.log(jsData);
                $.each(jsData, function (index, value) {
                    link = value.replace(" ","_");
                    text =  "<a href='../viewDisease/"+link+"'>"+ value + " no: " + index + "</a><br>"+text;
                });

                document.getElementById("most_common").innerHTML = text;
            }
    });
    }


    function getMostSearchedDiseased(max) {
        $.ajax({
            type: "POST",
            url: '/getMostSearchedDiseases',
            data: {
                max: max,
            },
            success: function (data) {
                console.log(data);
                var text = "";
                var jsData = JSON.parse(data);
                console.log(jsData);
                $.each(jsData, function (index, value) {
                    link = value.replace(" ", "_");
                    text = "<a href='../viewDisease/" + link + "'>" + value + " no: " + index + "</a><br>" + text;
                });

                document.getElementById("most_common").innerHTML = text;
            }
        });
    }


</script>

<div class="clearfix"></div>

<div class="row">
    <div class="col-xs-12 col-md-4 block-1">
        
        <h3><span class="glyphicon glyphicon-plus-sign"></span><br>Most searched diseases<br><span id="most_searched"></span></span></h3>
    </div>
    <script>getMostSearchDiseases(10);
        getMostCommonDiseases(10);
    </script>
    <div class="col-xs-12 col-md-4 block-2">
        
        <h3><span class="glyphicon glyphicon-plus-sign" ></span><br>Common cause of death<br><span id="most_common"></span></span></h3>
    </div>

    <div class="col-xs-12 col-md-4 block-3">
        
        <h3><span class="glyphicon glyphicon-plus-sign"></span><br>Top users</h3>
    </div>
</div>
